PORT=3000
DB_USER=postgres
DB_PASS=postgres
DB_NAME=shuttle_db
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shuttle_db?schema=public"
JWT_SECRET=your_super_secret_jwt_key_here